{% extends 'core/base.html'%}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">texto de ejemplo</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>¡Hola! Estoy encantada de que estés interesado en ponerte en contacto conmigo. Si tienes alguna pregunta, propuesta de colaboración o simplemente deseas conectar, no dudes en escribirme. </p>
        <br>
        <p><b>Teléfono:</b> 8110457329</p>
        <p>Mi correo: <a href="mailto:yare.123encinia@gmail.com">yare.123encinia@gmail.com</a></p>
        <p><b></b> </p>
    </div>
</div>   
{% endblock %}



